<section class="location-section" id="localizacao">
    <div class="container">
      <h2 class="section-title-dark">Onde Estamos</h2>
      <p class="text-center mb-4 text-muted" style="font-family: sans-serif;">Venha visitar os estandes na Etec Sylvio de Mattos Carvalho em Matão-SP</p>
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="map-responsive">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3701.3734005934503!2d-48.36531512379899!3d-21.610363292437653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b1e3d1d3309309%3A0x4d1aebba4d093e4b!2sEtec%20Sylvio%20de%20Mattos%20Carvalho!5e0!3m2!1spt-BR!2sbr!4v1718815000000!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>